.x-check-group-alt {
    background: #D1DDEF;
    border-top: 1px dotted #B5B8C8;
    border-bottom: 1px dotted #B5B8C8;
} .add {
    background-image: url(/static/images/icons/add.png) !important;
} .edit {
    background-image: url(/static/images/icons/edit.png) !important;
} .delete {
    background-image: url('/static/images/icons/delete.png') !important;
} .save {
    background-image: url(/static/images/icons/save.png) !important;
} .flash {
    background-image: url(/static/images/icons/flash.png) !important;
} .go {
    background-image: url(/static/images/icons/go.png) !important;
} .cancel {
    background-image: url(/static/images/icons/cancel.png) !important;
} .reset {
    background-image: url(/static/images/icons/reset.png) !important;
} .ok {
    background-image: url(/static/images/icons/accept.png) !important;
} .config {
    background-image: url(/static/images/icons/config.png) !important;
} .manage {
    background-image: url(/static/images/icons/manage.png) !important;
} .scheduler {
    background-image: url(/static/images/icons/scheduler.png) !important;
} .stop {
    background-image: url(/static/images/icons/stop.png) !important;
} .start {
    background-image: url(/static/images/icons/start.png) !important;
} .upload {
    background-image: url(/static/images/icons/upload.png) !important;
} .download {
    background-image: url(/static/images/icons/download.png) !important;
} .home {
    background-image: url(/static/images/icons/home.png) !important;
} .objectExplorer {
    background-image: url(/static/images/icons/objectExplorer.png) !important;
} .propertyGrid {
    background-image: url(/static/images/icons/propertyGrid.png) !important;
} .byDevice {
    background-image: url(/static/images/icons/byDevice.png) !important;
} .byModule {
    background-image: url(/static/images/icons/byModule.png) !important;
} .byRoom {
    background-image: url(/static/images/icons/byRoom.png) !important;
} .firmwareRepository {
    background-image: url(/static/images/icons/firmwareRepository.png) !important;
} .log {
    background-image: url(/static/images/icons/log.png) !important;
} .module {
    background-image: url(/static/images/icons/module.png) !important;
} .gui {
    background-image: url(/static/images/icons/gui.png) !important;
} .navigation {
    background-image: url(/static/images/icons/navigation.png) !important;
} .logout {
    background-image: url(/static/images/icons/logout.png) !important;
} .macro {
    background-image: url(/static/images/icons/macro.png) !important;
} .password {
    background-image: url(/static/images/icons/password.png) !important;
} .user {
    background-image: url(/static/images/icons/user.png) !important;
} .simulate {
    background-image: url(/static/images/icons/simulate.png) !important;
}

html, body {
    font: normal 12px verdana;
    margin: 0;
    padding: 0;
    border: 0 none;
    overflow: hidden;
    height: 100%;
}

p {
    margin: 5px;
}
